DCT/TBX-Trimed.nvdl

<?xml version="1.0" encoding="UTF-8"?>
<rules xmlns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"
    xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" startMode="core">
    <mode name="core">
        <namespace ns="urn:iso:std:iso:30042:ed-2">
            <validate schema="https://raw.githubusercontent.com/LTAC-Global/TBX_Core_RNG/master/TBXcoreStructV03.rng" useMode="RNG"/>
            <!-- 
            <validate schema="https://raw.githubusercontent.com/LTAC-Global/TBX-Linguist_dialect/master/DCT/TBX-Linguist_DCT.sch" useMode="SCH"/>
            <validate schema="https://raw.githubusercontent.com/LTAC-Global/TBX_linguist_module/master/Linguist.sch" useMode="SCH"/>
            <validate schema="https://raw.githubusercontent.com/LTAC-Global/TBX_basic_module/master/Basic.sch" useMode="SCH"/>
            <validate schema="https://raw.githubusercontent.com/LTAC-Global/TBX_min_module/master/Min.sch" useMode="SCH"/>
             -->
        </namespace>
        <anyNamespace>
            <reject/>
        </anyNamespace>
    </mode>
    <mode name="RNG">
        <namespace ns="http://www.tbxinfo.net/ns/min">
            <validate schema="https://raw.githubusercontent.com/LTAC-Global/TBX_min_module/master/Min.rng"/>
            <attach/>
        </namespace>
        <namespace ns="http://www.tbxinfo.net/ns/basic">
            <validate schema="https://raw.githubusercontent.com/LTAC-Global/TBX_basic_module/master/Basic.rng"/>
            <attach/>
        </namespace>
        <namespace ns="https://github.com/trimed-dialect-2020">
            <validate schema="../Modules/TBX_trimed_module/Trimed.rng"/>
            <attach/>
        </namespace>
    </mode>
    <mode name="SCH">
        <namespace ns="http://www.tbxinfo.net/ns/min">
            <attach/>
        </namespace>
        <namespace ns="http://www.tbxinfo.net/ns/basic">
            <attach/>
        </namespace>
        <namespace ns="https://github.com/trimed-dialect-2020">
            <attach/>
        </namespace>
    </mode>
</rules>